<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Busy Hours for year {{ year }}</title>
</head>
<body>

Year to review:
</br>
<form action="/busy-hour/2014">
    <input type="submit" value="2014" />
</form>
<form action="/busy-hour/2015">
    <input type="submit" value="2015" />
</form>
<form action="/busy-hour/2016">
    <input type="submit" value="2016" />
</form>
<form action="/busy-hour/2017">
    <input type="submit" value="2017" />
</form>

</br>
Busy hours for year {{ year }}: {{ hours }}

</br>
</br>
</br>
<form action="/">
    <input type="submit" value="Back to main page" />
</form>
</body>
</html>
