<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Histogram for year {{ year }}</title>
</head>
<body>

Year to review:
</br>
<form action="/histogram/2014">
    <input type="submit" value="2014" />
</form>
<form action="/histogram/2015">
    <input type="submit" value="2015" />
</form>
<form action="/histogram/2016">
    <input type="submit" value="2016" />
</form>
<form action="/histogram/2017">
    <input type="submit" value="2017" />
</form>

<br/>
Histogram for year: {{ year }}
</br>

<img src="/histogram_{{ year }}.png">

</br>
</br>
</br>
<form action="/">
    <input type="submit" value="Back to main page" />
</form>
</body>
</html>
