<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Top {{ top }} travels for year {{ year }}</title>
</head>
<body>

How many travels want to retrieve?:
</br>
<input id="number" type="range" min="1" max="600" value="{{ top }}" oninput="this.nextElementSibling.value = this.value"> ->
<output>{{ top }}</output>

</br>
Select the year to retrieve:
</br>
<input id="year" type="range" min="2014" max="2017" value="{{ year }}" oninput="this.nextElementSibling.value = this.value"> ->
<output>{{ year }}</output>

</br>
</br>

<input type="button" onclick="var URLBase = 'http://127.0.0.1/travels/top/';
finalURL = URLBase + document.getElementById('number').value + '/' + document.getElementById('year').value;
window.location.href = finalURL" value="Calculate !" />

</br>
</br>

Top {{ top }} travels for year {{ year }}:
</br>
{% for travel in mix %}
    </br>
    - {{ travel }}
{% endfor %}

</br>
</br>
</br>
<form action="/">
    <input type="submit" value="Back to main page" />
</form>
</body>
</html>
