<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Utilization for years {{ year_first }} and {{ year_last }}</title>
</head>
<body>

Select the first year to compare:
</br>
<input id="year1" type="range" min="2014" max="2017" value="{{ year_first }}" oninput="this.nextElementSibling.value = this.value"> ->
<output>{{ year_first }}</output>

</br>
Select the second year to compare:
</br>
<input id="year2" type="range" min="2014" max="2017" value="{{ year_last }}" oninput="this.nextElementSibling.value = this.value"> ->
<output>{{ year_last }}</output>

</br>
</br>

<input type="button" onclick="var URLBase = 'http://127.0.0.1/utilization/';
finalURL = URLBase + document.getElementById('year1').value + '/' + document.getElementById('year2').value;
window.location.href = finalURL" value="Compare !" />

</br>
</br>
Information for year {{ year_first }}:
</br>
  - Number of travels: {{ travels_first }}
</br>
  - Total utilization time: {{ total_time_first }}
</br>
  - Travels per bike: {{ travels_per_bike_first }}
</br>
  - Travels per station: {{ travels_per_station_first }}

</br>
</br>
Information for year {{ year_last }}:
</br>
  - Number of travels: {{ travels_last }}
</br>
  - Total utilization time: {{ total_time_last }}
</br>
  - Travels per bike: {{ travels_per_bike_last }}
</br>
  - Travels per station: {{ travels_per_station_last }}

</br>
</br>
Differences:
</br>
  - Number of travels: {{ travels_last - travels_first }}
</br>
  - Total utilization time: {{ total_time_last - total_time_first }}
</br>
  - Travels per bike: {{ travels_per_bike_last - travels_per_bike_first }}
</br>
  - Travels per station: {{ travels_per_station_last - travels_per_station_first }}

</br>
</br>
</br>
<form action="/">
    <input type="submit" value="Back to main page" />
</form>
</body>
</html>
